<div class="card mx-auto text-centerbroder-light" style="width: 18rem;">
    <img src="assests/angularlogo.png" class="card-img-top" alt="Angular logo">
    <div class="card-body">
        <h5 class="card-title">Projects</h5>
        <p class="card-text">A personal blog created with angular framework and scully static site generater</p>
        <a href="https://vamsikrishna.vercel.app" target="_blank" class="card-link">Vamsi</a>
        <a href="https://scully.io/" target="_blank" class="card-link">Scally</a>
    </div>
</div>